*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Playfair Display', serif;
}
.contenedor{
    padding: 60px 0;
    width: 90%;
    max-width: 1000px;
    margin: auto;
}
.titulo{
    color: brown;
    font-size: 80px;
    text-align: center;
    margin-bottom: 60px;
    padding: 40px;
}
/* Header */
header{
    width: 100%;
    height: 500px;
    background:#000;
}
nav{
    text-align: right;
    padding: 30px 50px 0 0;
}
nav > a{
    color: #fff;
    font-weight: 300;
    text-decoration: none;
    margin-right: 10px;
    font-size: 20px;
}
nav > a:hover{
    color: darkmagenta;
}
.container{
    width: 95%;
    max-width: 1200px;
    display: flex;
    align-items: center;
    margin: auto;
    justify-content: space-around;
}
.imagen{
    display: block;
    height: 500px;
    object-fit: cover;
    padding: 40px;
    width: 50%;
}
.textos{
    color: #fff;
    width: 50%;
}
.textos h1{
    font-size: 80px;
}
.textos h2{
    font-size: 40px;
}
/* Ola */
.wave{ 
    width: 100%;
    height: 100px;
    background: #000;
}
/* Mi experiencia 2 entradas*/
.subtitle{
    color: blueviolet;
    font-size: 50px;
    margin-bottom: 35px;
}
.about{
    min-height: 400px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 80px;
    justify-content: center;
    align-items: center;
    
}
.about_img{
    text-align: center;
}
.about_img--left{
    text-align: left;
}
.about_picture{
    max-width: 80%;
    border-radius: 20px;
}
.about_paragraph{
    margin-bottom: 20px;
    line-height: 1.5;
    font-weight: 300;

}

/* Barra de 3 */
.categoria-pc-moba{
    width: 100%;
    height: 750px;
}
.pc{
    width: 100%;
    max-width: 1200px;
    height: 430px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
}
.pc .cuadrados{
    width: 330px;
    height: 430px;
    border-radius: 8px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    margin: 20px;
    text-align: center;
}
.pc .cuadrados:hover{
    transform: translateY(-15px);
    box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
}
.pc .cuadrados img{
    width: 330px;
    height: 220px;
}
.pc .cuadrados h4{
    font-size: 20px;
    color: chocolate;
}
.pc .cuadrados p{
    padding: 10px;
    font-size: 16px;
}
/*Footer */
footer{
    background: #111;
    width: 100%;
    height: auto;
    font-family: 'Open sans';
    padding-top: 40px;
    color: #fff;
}
.footer-content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}
.footer-content h3{
    font-size: 40px;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 60px;
}
.footer-content p{
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 16px;
}
.socials{
    list-style: none;
    display: flex;
    align-content: center;
    justify-content: center;
    margin: 20px 0 60px 0;
}
.socials li{
    margin: 0 10px;
}
.socials a{
    text-decoration: none;
    color: #fff;
}
.socials a i{
    font-size: 30px;
}
.socials a:hover i{
    color: aqua;
}
.footer-bottom{
    background: #000;
    padding: 20px 0;
    text-align: center;
}
.footer-bottom p{
    font-size: 14px;
    
}